a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 红色提示信息颜色 */
.red {
  color: #A94442;
}

.body_bg{
  background:deeppink;
}
.mt_50{
  margin-top: 150px;
}
.panel .panel-heading {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0;
}

